# =========================
# Optical Form Processing Project - Git Ignore
# =========================


build/
bin/
obj/
out/
CMakeFiles/
CMakeCache.txt
Makefile
*.cmake


*.exe
*.dll
*.lib
*.a
*.so
*.pdb
*.obj
*.o


.vs/
.idea/
.vscode/
*.user
*.suo
*.cache
*.log

Thumbs.db
*.DS_Store

*.tmp
*.bak
*.swp

*.jpg
*.png
*.bmp
*.mp4
*.avi
*.yml
*.xml

__pycache__/
*.ipynb_checkpoints/
